@charset "UTF-8";
body {
  background-color: #e6e2d3;
  font-size: 11pt;
}
p {
  margin: 10px
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

h1, h2, h3, h4, p {
  color: rgb(40, 40, 40);
}

footer {
  font-style: oblique;
}

.category {font-size: larger;}
.gametitle {font-size: 80%;}
.gametable {font-size: 12px; background-color: #cacaca;}
.gamemeter {border: solid;}
.gametable th, .gametable td, .gametable img {
  border-color: #202020;
  border-style: solid;
  border-width: thick;
}
.gametable h2 {
  text-align: center;
}

.gametable h2, .gametable h3, .gametable p {
  font-variant: small-caps;
}

.gamedesc {
  height: auto;
  width: 500px;
  padding: 20px;}

.gamedesc h3 {
  font-weight:bolder;
}

.gamedetails {
  line-height: 5px;
  text-align: center;
}



#indexBody {
  background: #e6e2d3 url("../images/wallpaper.png") no-repeat right bottom;
  background-attachment: fixed;
  background-size: 25%;
}
